.div-main {
	width: 100%;
	height: 100%;
}

div.navigation-bar-fix {
	margin: 0px;
}

img.header-logo {
	width: 195px;
	height: 30px;
	float: left;
	padding: 5px 50px;
}

div.message-label {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 16px;
}