form.form-file-upload {
	margin-top: -12px;
}

div.panel-file-upload {
	width: 280px !important;
	height: 20px !important;
	overflow: visible !important;
}

input.file {
	width: 200px !important;
	height: 20px !important;
	color: #888888;
	padding: 5px;
	border: 1px solid #BBBBBB;
	border-right: 0;
	
	-webkit-border-top-left-radius: 5px;
	-webkit-border-bottom-left-radius: 5px;
	-moz-border-radius-topleft: 5px;
	-moz-border-radius-bottomleft: 5px;
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
	
	outline: none;
}

div.file-upload {
	width: 80px !important;
	height: 22px !important;
	border: 1px solid #BBBBBB;
	
	background: #F2F2F2;
	background: -moz-linear-gradient(top, #F2F2F2 0%, #F2F2F2 44%, #EDEDED 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #F2F2F2), color-stop(44%, #F2F2F2), color-stop(100%, #EDEDED));
	background: -webkit-linear-gradient(top, #F2F2F2 0%, #F2F2F2 44%, #EDEDED 100%);
	background: -o-linear-gradient(top, #F2F2F2 0%, #F2F2F2 44%, #EDEDED 100%);
	background: -ms-linear-gradient(top, #F2F2F2 0%, #F2F2F2 44%, #EDEDED 100%);
	background: linear-gradient(top, #F2F2F2 0%, #F2F2F2 44%, #EDEDED 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#F2F2F2', endColorstr='#EDEDED', GradientType=0);

	display: inline;
	position: absolute;
	overflow: hidden;
	cursor: pointer;
	
	-webkit-border-top-right-radius: 5px;
	-webkit-border-bottom-right-radius: 5px;
	-moz-border-radius-topright: 5px;
	-moz-border-radius-bottomright: 5px;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
	
	color: #000000;
	text-align: center;
	padding-top: 8px;
}

div.file-upload:before {
	content: 'Upload';
	position: absolute;
	top: 6px;
	left: 0;
	right: 0;
	text-align: center;
	cursor: pointer;
}

div.file-upload input {
	height: 22px !important;
	width: 80px !important;
	position: relative;
	display: inline;
	cursor: pointer;
	opacity: 0;
}